---
layout: layouts/base.njk
---

<p class="page-intro">
  공개 저장소에 올린 커밋을 날짜별로 정리한 개발 일지입니다.
  벤더 제품 문서의 갱신은 <a href="{{ site.archiveUrl }}">아카이브</a>에,
  업계 뉴스 다이제스트는 <a href="{{ site.newsUrl }}">뉴스레터</a>에 따로 쌓입니다.
</p>

<ul class="post-list">
  {% for post in collections.posts %}
    <li>
      <time datetime="{{ post.date | isoDate }}">{{ post.date | postDate }}</time>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      {% if post.data.summary %}<p>{{ post.data.summary }}</p>{% endif %}
    </li>
  {% else %}
    <li class="empty">아직 발행된 글이 없습니다.</li>
  {% endfor %}
</ul>
